<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="newshopContainer">
        <register type="NewShop.IService.IPrivilegesService,NewShop.IService" mapTo="NewShop.Service.PrivilegesService, NewShop.Service"/>
        <register type="NewShop.IService.IManagerService,NewShop.IService" mapTo="NewShop.Service.ManagerService, NewShop.Service"/>
        <register type="NewShop.IService.IMenuService,NewShop.IService" mapTo="NewShop.Service.MenuService, NewShop.Service"/>
      <register type="NewShop.Common.CacheMgr.ICache,NewShop.Common" mapTo="NewShop.Common.CacheMgr.AspNetCache,NewShop.Common"/>
      </container>      
    </containers>
  </unity>
</configuration>