<script type="text/javascript">

</script>

<div class="container">
    <ul class="console-total clearfix">
        <li class="fore1">
            <i></i>
            <div>
                <strong id="totalNum"></strong>
                <span>今日有效销售总额</span>
            </div>
        </li>
        <li class="fore2">
            <i></i>
            <div>
                <strong></strong>
                <span>今日会员新增数</span>
            </div>
        </li>
        <li class="fore3">
            <i></i>
            <div>
                <strong></strong>
                <span>今日店铺新增数</span>
            </div>
        </li>
    </ul>

    <div class="ms-myorder modle-box">
        <h3><span>商品</span><span>会员</span><span>交易</span></h3>
        <div class="mycollect cl">

        </div>
    </div>

</div>


